Daily-events-reminder.json
{
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "triggerAtHour": 21 } ] } },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-480, -48],
      "id": "scheduleTrigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            { "fieldToAggregate": "summary" },
            { "fieldToAggregate": "start" },
            { "fieldToAggregate": "end" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-64, -48],
      "id": "aggregateNode",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that writes professional reminders.\n\nBelow is the raw JSON data for tomorrow’s events. Read it EXACTLY as written:\n\n{{ JSON.stringify($json, null, 2) }}\n\nYour task:\n1. Extract each event’s summary, start.dateTime, and end.dateTime.\n2. Convert the ISO dateTimes into a readable format (e.g., “9:00 AM”, “6:00 PM”, “December 2”).\n3. Sort the events chronologically.\n4. Write ONE polished, human reminder including:\n   - the date of tomorrow,\n   - each event,\n   - the exact start AND end time.\n\nSTRICT RULE:\nYou must NOT say that times are missing. The times ARE present in the JSON above. Use them.\n\nExample style:\n“Tomorrow, December 2, you have an interview from 9:00 to 10:00, followed by a meeting from 18:00 to 19:00.”\n\nNow generate the reminder.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [144, -48],
      "id": "aiAgent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-5.1", "mode": "list", "cachedResultName": "gpt-5.1" },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [144, 192],
      "id": "openAiChatModel",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": { "id": "", "name": "YOUR_OPENAI_ACCOUNT" }
      }
    },
    {
      "parameters": {
        "sendTo": "example@example.com",
        "subject": "Your plans for tomorrow",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [496, -48],
      "id": "sendMessage",
      "name": "Send a message",
      "webhookId": "webhookIdPlaceholder",
      "credentials": {
        "gmailOAuth2": { "id": "", "name": "YOUR_GMAIL_ACCOUNT" }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "YOUR_CALENDAR_EMAIL", "mode": "list", "cachedResultName": "YOUR_CALENDAR_EMAIL" },
        "returnAll": true,
        "timeMin": "={{ $now.plus({ days: 1 }).startOf('day').toISO() }}",
        "timeMax": "={{ $now.plus({ days: 1 }).endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-272, -48],
      "id": "getManyEvents",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "", "name": "YOUR_GOOGLE_CALENDAR_ACCOUNT" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Get many events", "type": "main", "index": 0 } ] ] },
    "Get many events": { "main": [ [ { "node": "Aggregate", "type": "main", "index": 0 } ] ] },
    "Aggregate": { "main": [ [ { "node": "AI Agent", "type": "main", "index": 0 } ] ] },
    "AI Agent": { "main": [ [ { "node": "Send a message", "type": "main", "index": 0 } ] ] },
    "OpenAI Chat Model": { "ai_languageModel": [ [ { "node": "AI Agent", "type": "ai_languageModel", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "INSTANCE_ID_PLACEHOLDER" }
}
