Daily-mail-resume.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        864
      ],
      "id": "acf75830-7601-41f0-8880-e27756c5bd44",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        864
      ],
      "id": "e9431148-ea7e-478a-95d0-f0c5bc2b5ae3",
      "name": "Get many messages",
      "webhookId": "webhookIdPlaceholder"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "snippet"
            },
            {
              "fieldToAggregate": "From"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        64,
        864
      ],
      "id": "4dfc1008-68b3-4d0e-a36f-1eb84a1932ae",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are the snippets: {{ $json.snippet }} and from {{ $json.From }}. Go through them carefully and write a clear, human-sounding summary that flows naturally.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        864
      ],
      "id": "f7b53436-4928-4997-a3c9-e1aaa9a0413d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        1104
      ],
      "id": "3cdd7528-0736-4a6d-850e-141cd965a632",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sendTo": "example@example.com",
        "subject": "Daily mails resume",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        864
      ],
      "id": "99c53344-ca8b-41a4-98e3-6e0afc44a7ca",
      "name": "Send a message",
      "webhookId": "webhookIdPlaceholder2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbadcc6aaca3997aea848bf34b5d4afb53932e75984009d3a80470cde77e06b5"
  }
}
