Detect-important-mails.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        960
      ],
      "id": "cf6fa3bd-1072-42ab-84ca-413049ac126f",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are an email analysis AI.\n\nYour task is to analyze the user's email and return a strict JSON with:\n- isImportant: true or false\n- reason: short natural explanation\n- summary: short natural summary (one short paragraph)\n\nRules:\n- Consider an email important if it includes: request, deadline, appointment, urgent matter, business, invoice, payment, meeting, problem, document, project update.\n- Promotions, newsletters, ads, automations are NOT important.\n- The summary must be written in natural human French, no bullet points, no lists, no formatting, no emojis.\n- Output MUST be ONLY a JSON object, nothing else."
            },
            {
              "content": "=Analyze the following email and return ONLY a JSON object.\n\nSubject: {{$json[\"Subject\"]}}\nFrom: {{$json[\"From\"]}}\nBody: {{$json[\"snippet\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -624,
        960
      ],
      "id": "859030a6-075a-449c-9943-9784131dfc44",
      "name": "Message a model"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{$json[\"isImportant\"]}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        960
      ],
      "id": "a6fb198e-6f38-4b82-8dc4-c34d96185d00",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.message.content;\nconst parsed = JSON.parse(raw);\nreturn [parsed];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        960
      ],
      "id": "5c9aad0f-7d25-4e98-a06b-4cef611a56b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.summary }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        944
      ],
      "id": "16a08f0e-e39b-4fb7-9d23-c5a9ecfb9d91",
      "name": "Generate audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/YOUR_PHONE_ID/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_FACEBOOK_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "type",
              "value": "audio/mpeg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        944
      ],
      "id": "9d725ea4-701d-4cd7-8e00-87cbff4c59a4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Rename and set mime type for audio\nconst item = $input.item;\nitem.binary.data.mimeType = \"audio/mpeg\";\nitem.binary.data.fileName = \"audio.mpeg\";\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        944
      ],
      "id": "e3462fcd-1d17-4879-89f9-8aa7004b3c15",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_ID",
        "recipientPhoneNumber": "+0000000000",
        "messageType": "audio",
        "mediaPath": "useMediaId",
        "mediaId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        800,
        944
      ],
      "id": "f74e2c59-3b08-4dff-8164-63d770b04289",
      "name": "Send message",
      "webhookId": "webhookIdPlaceholder"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbadcc6aaca3997aea848bf34b5d4afb53932e75984009d3a80470cde77e06b5"
  }
}
